.cards {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 0.4rem 0.5rem;
  box-shadow: 0 0 10px rgb(148, 139, 139);
  border-radius: 0.4rem;
  border: 1px solid lightgray;
  width: 100%;
  min-width: calc(
    15rem + 15%
  ); /*15 rem for mobile but add 15% to a wider screen */
  height: 100%;
  min-height: 10rem;
}
